
body {
    width: inherit;
    background-color: black;
    position: relative;
    margin: 0;
}

#ball {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: red;
    padding: 0;
}

.bar {
    height: 10px;
    width: 150px;
    position: fixed;
    background-color: white;
    margin: 0;
    border-radius: 20px /20px;
}

#upper {
    top: 30px;
    left: 550px;
}

#lower {
    top: 565px;
    left: 550px;
}